In [46]:
import sqlite3
import csv, json
import os
from datetime import datetime
db = 'taxi.db'
tb_name = 'yellow_tripdata_Feb'

number_of_zones = 265

time_series_ofZone = {}

In [47]:
lookup_tb = {}
with open('../data/taxi+_zone_lookup.csv', newline='') as csvfile:
    k=0
    spamreader = csv.reader(csvfile, delimiter=',', quotechar='|')
    for row in spamreader:
        if k==0:
            k+=1
            continue
        if row!=[]:
            lookup_tb[row[0]] = {'Borough': row[1].strip('\"'), 'Zone': row[2].strip('\"')}

reverse_lookup = {}
with open('../data/taxi+_zone_lookup.csv', newline='') as csvfile:
    k=0
    spamreader = csv.reader(csvfile, delimiter=',', quotechar='|')
    for row in spamreader:
        if k==0:
            k+=1
            continue
        if row!=[]:
            reverse_lookup[row[2].strip('\"')] = {'Borough': row[1].strip('\"'), 'Zone': row[0]}

In [48]:
conn = sqlite3.connect(db)
cur = conn.cursor()
cur.execute('SELECT lpep_pickup_datetime, lpep_dropoff_datetime, PULocationID, DOLocationID FROM ' + tb_name)
rows = cur.fetchall()

In [49]:
len(rows)

9168825

In [54]:
k=0
j=0
time_gap = {}
for i in range(1, number_of_zones+1):
    for j in range(1, number_of_zones+1):
        time_gap[str(i)+'+'+str(j)] = {}
for row in rows:
    if not k%100000:
        print(k/100000)
    k+=1
    travel = row[2]+'+'+row[3]
    pickup_time = row[0]
    dropoff_time = row[1]
    
    time_pu = datetime.strptime(pickup_time, '%Y-%m-%d %H:%M:%S')
    time_do = datetime.strptime(dropoff_time, '%Y-%m-%d %H:%M:%S')

#     timegap
    gap = (time_do-time_pu).total_seconds()

#     round to minute
    time_pu = time_pu.replace(second = 0)
    
    time_pu = time_pu.strftime('%Y-%m-%d %H:%M:%S')
    
    if time_pu in time_gap[travel]:
        gap_sum = time_gap[travel][time_pu][0] + gap
        gap_num = time_gap[travel][time_pu][1]+1
        time_gap[travel][time_pu] = [gap_sum, gap_num]
    else:
        time_gap[travel][time_pu] = [gap, 1]

0.0
1.0
2.0
3.0
4.0
5.0
6.0
7.0
8.0
9.0
10.0
11.0
12.0
13.0
14.0
15.0
16.0
17.0
18.0
19.0
20.0
21.0
22.0
23.0
24.0
25.0
26.0
27.0
28.0
29.0
30.0
31.0
32.0
33.0
34.0
35.0
36.0
37.0
38.0
39.0
40.0
41.0
42.0
43.0
44.0
45.0
46.0
47.0
48.0
49.0
50.0
51.0
52.0
53.0
54.0
55.0
56.0
57.0
58.0
59.0
60.0
61.0
62.0
63.0
64.0
65.0
66.0
67.0
68.0
69.0
70.0
71.0
72.0
73.0
74.0
75.0
76.0
77.0
78.0
79.0
80.0
81.0
82.0
83.0
84.0
85.0
86.0
87.0
88.0
89.0
90.0
91.0

In [51]:
k=0
for zone in time_gap:
    time_of_zone = time_gap[zone]
    time_series_ofZone[zone] = {}
    k+=1
    if not k%1000:
        print(k)

70225

In [55]:
with open('time_gap_eachzone_feb.json', 'w') as jsonfile:
    json.dump(time_gap, jsonfile)

In [56]:
with open('time_gap_eachzone_feb.json') as data_file:    
    time_series_ofZone = json.load(data_file)

In [57]:
import pymongo

In [58]:
from pymongo import MongoClient

In [59]:
client = pymongo.MongoClient("mongodb://HEric1203:1023212821%40qq.COM@cluster0-shard-00-00-b6n4u.mongodb.net:27017,cluster0-shard-00-01-b6n4u.mongodb.net:27017,cluster0-shard-00-02-b6n4u.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin")

In [76]:
num_of_zones = 265
nyc_taxi_db = client.nyc_taxi
collection = nyc_taxi_db.time_gap
# collection.drop()

In [ ]:
# table time_gap
k=0
for i in range(1, num_of_zones+1):
    for j in range(1, num_of_zones+1):
        zone_traveled = str(i)+'+'+str(j)
        ts = time_series_ofZone[str(i)+'+'+str(j)]
        ts_insert = {'travel': zone_traveled, 'values': ts}
        collection.insert_one(ts_insert).inserted_id
        k+=1
        if not k%1000:
            print(k)
result = collection.create_index([('travel', pymongo.ASCENDING)], unique=True)

1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000
21000
22000
23000
24000
25000
26000
27000
28000
29000
30000
31000
32000
33000
34000
35000
36000
37000
38000
39000
40000
41000
42000
43000

In [18]:
# table traffic_travel
time_gap = client.timegap
collection = time_gap.traffic_travel

In [13]:
conn = sqlite3.connect(db)
cur = conn.cursor()
cur.execute('SELECT PULocationID, DOLocationID FROM ' + tb_name)
rows = cur.fetchall()

In [15]:
traffic_dict = {}
for i in range(1, number_of_zones+1):
    for j in range(1, number_of_zones+1):
        traffic_dict[str(i)+'+'+str(j)] = 0
        
for row in rows:
    travel = row[0] + '+' + row[1]
    traffic_dict[travel] += 1

In [19]:
k=0
for travel in traffic_dict:
    num = traffic_dict[travel]
    collection.insert_one({'travel': travel, 'traffic': num}).inserted_id
    if not k%10000:
        print(k)
    k+=1

0
10000
20000
30000
40000
50000
60000
70000

In [43]:
client = pymongo.MongoClient("mongodb://HEric1203:1023212821%40qq.COM@cluster0-shard-00-00-b6n4u.mongodb.net:27017,cluster0-shard-00-01-b6n4u.mongodb.net:27017,cluster0-shard-00-02-b6n4u.mongodb.net:27017/test?ssl=true&replicaSet=Cluster0-shard-0&authSource=admin")
db = client.nyc_taxi
collection = db.time_gap_01

In [44]:
collection.insert_one({'s':2}).inserted_id

ObjectId('59dc34af8ca6ea1de7add37e')